/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
footer{
	border-top: 1px solid #000;
	padding-top: 25px;
	padding-bottom: 25px;
}

/*
------------------------------------------------------------*/
.c-footer{
	display: flex;
	justify-content: space-between;
	margin-left: 1px;
	margin-right: 3px;
	&__btn{
		margin-top: 19px;
		.c-btn2{
			margin-right: 18px;
		}
	}
}
