/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header{
	&__inner{
		@include center;
	}
	&__1{
		background: #f8f8f8;
		padding-top: 8px;
		padding-bottom: 6px;
	}
}

/*
------------------------------------------------------------*/
.c-header2{
	margin-top: 24px;
	margin-bottom: 33px;
	&__flex{
		 display: flex;
	}
	&__logo{
		width: 32%;
		margin-left: 2px;
		img:first-child{
			margin-right: 6px;
		}
	}
	.c-nav{
		width: 68%;
		ul{
			margin-top: 8px;
		}
	}
}