/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.l-container{
	width: 1460px;
	margin: 0 auto;
}

/*
------------------------------------------------------------*/
.l-main{
	width: 1162px;
	margin: 0 auto;
}