/*------------------------------------------------------------
about
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-about1{
	margin-top: 83px;
	margin-bottom: 92px;
}

/*
------------------------------------------------------------*/
.c-about1{

	//-------------------------------------------------------
	&__info{
	 padding-left: 150px;
	 display: flex;
	}

	//-------------------------------------------------------
	&__avatar{
		width: 28.3%;
	}

	//-------------------------------------------------------
	&__text{
		width: 71.7%;
		margin-left: 25px;
		margin-top: -4px;
	}

	//-------------------------------------------------------
	&__text1{
		margin-bottom: 9px;
		p{
			font-size: 1.5rem;
			line-height: 26px;
		}
	}

	//-------------------------------------------------------
	&__sign{
		font-size: 1.6rem;
		font-weight: bold;
		text-align: right;
		margin-top:20px;
		p{
			padding-right: 152px;
		}
	}
}


/*
------------------------------------------------------------*/
.p-about2{
	margin-bottom: 82px;

	//-------------------------------------------------------
	.c-title2{
		p{
			margin-left: -8px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-about2{
	margin-top: 24px;
    margin-left: 153px;

    //-------------------------------------------------------
	&__text{
		margin-bottom: 20px;

		//---------------------------------------------------
		p{
			font-size: 1.5rem;
			line-height: 26px;
		}
	}
}

/*
------------------------------------------------------------*/
.p-about3{
	margin-bottom: 89px;

	//-------------------------------------------------------
	.c-title2{
		margin-bottom: 39px;

		//---------------------------------------------------
		span{
			margin-left: 8px;
		}
	}
}


/*
------------------------------------------------------------*/
.c-about3{

	//-------------------------------------------------------
	&__text1{
		margin-bottom: 24px;
		margin-left: 4px;

		//---------------------------------------------------
		p{
			font-size: 1.5rem;
			line-height: 26px;
		}
	}

	//-------------------------------------------------------
	&__text2{
		border: 1px solid #a8a8a8;
		margin-right: 2px;
		padding: 25px  9px 22px 9px;
	}

	//-------------------------------------------------------
	&__txt1{
		font-size: 1.8rem;
		font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

		//-------------------------------------------------------
		span{
			display: block;
			font-weight: bold;
			margin-bottom: 8px;
		}

		//-------------------------------------------------------
		p{
			margin-left: 1px;
			line-height: 32px;
		}

		//-------------------------------------------------------
		&:first-child {
			margin-bottom: 29px;
			p{
				margin-left: 3px;
			}
		}

		//-------------------------------------------------------
		&:nth-child(3) {
			margin-top: 27px;
			margin-bottom: 28px;
		}
	}
}

/*
------------------------------------------------------------*/
.p-about4{
	margin-bottom: 74px;

	//-------------------------------------------------------
	.c-title2{
		margin-bottom: 41px;
	}
}


/*
------------------------------------------------------------*/
.c-about4{
	display: flex;

	//-------------------------------------------------------
	p{
		font-size: 1.5rem;
		line-height: 24px;
		margin-bottom: 11px;
	}

	//-------------------------------------------------------
	&__left{
		width: 50.2%;
		padding-left: 2px;
	}

	//-------------------------------------------------------
	&__right{
		width: 49.8%;
	}
}

/*
------------------------------------------------------------*/
.p-about5{
	margin-bottom: 90px;
}

/*
------------------------------------------------------------*/
.p-about6{
	margin-bottom: 101px;

	//-------------------------------------------------------
	.c-title2{
		margin-bottom: 41px;
	}

	//-------------------------------------------------------
	.c-afspan{
		margin-top:24px;
	}
}

/*
------------------------------------------------------------*/
.c-about6{
	display: flex;
	justify-content: space-between;

	//-------------------------------------------------------
	&__text{
		margin-top: -2px;
		margin-left: 2px;

		//---------------------------------------------------
		p{
			font-size: 1.5rem;
			line-height: 25px;
		}
	}

	//-------------------------------------------------------
	&__img{
		margin-top: 3px;
		margin-right: 3px;
	}

	//-------------------------------------------------------
	.c-blankpic{

		//---------------------------------------------------
		&__abs{
			left: unset;
			top: 19px;
			right: 18px;
		}
	}
}