/*------------------------------------------------------------
nogyo
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-nomain{
	margin-top: 82px;
}

/*
------------------------------------------------------------*/
.p-nogyo1{
	padding-left: 151px;
	padding-right: 138px;
	margin-bottom: 86px;

	//-------------------------------------------------------
	.c-afspan{
		margin-bottom: 13px;
		&:after {
			margin-left: 8px;
		}
	}
}


/*
------------------------------------------------------------*/
.c-nogyo1{
	margin-top: 25px;

	//-------------------------------------------------------
	&__text1{
		margin-bottom: 30px;

		//---------------------------------------------------
		p{
			font-size: 1.5rem;
			line-height: 26px;
			margin-bottom: 20px;
		}
	}
}
/*
------------------------------------------------------------*/
.p-nogyo2{
	position: relative;
	margin-bottom: 69px;

	//-------------------------------------------------------
	.c-title2{

		//---------------------------------------------------
		p{
			margin-left: -6px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-nogyo2{
	padding-left: 149px;
	padding-right: 145px;

	//-------------------------------------------------------
	&__flex{
		display: flex;
	}

	//-------------------------------------------------------
	&__slide{
		width: 560px;
		position: relative;
	}

	//-------------------------------------------------------
	&__abs{
		position: absolute;
		top: 31px;
		left: 31px;
	}

	//-------------------------------------------------------
	&__text{
		flex:1;
		margin-left: 38px;
		margin-top: -5px;

		//---------------------------------------------------
		p{
			font-size: 1.5rem;
			line-height: 26px;
			margin-bottom: 10px;
		}
	}

	//-------------------------------------------------------
	&__note{
		position: absolute;
		top: 50px;
	}
}