/*------------------------------------------------------------
top
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	min-width:1460px;
}

/*
------------------------------------------------------------*/
.p-top1{
	margin-top: 45px;
}

/*
------------------------------------------------------------*/
.c-top1{
	margin-left: 2px;

	//-------------------------------------------------------
	&__ttl1{
		font-size: 1.1rem;
		font-weight: bold;
		font-family: Arial;
		color: #bd0000;
	}

	//-------------------------------------------------------
	&__ttl2{
		margin-top: 5px;
		img:last-child{
			margin-left: 13px;
			vertical-align: middle;
			margin-top: 2px;
		}
	}

	//-------------------------------------------------------
	.c-list1{
		margin-top: 14px;
	}
}

/*
------------------------------------------------------------*/
.p-top2{
	margin-top: 95px;
}

/*
------------------------------------------------------------*/
.p-top2title{
	.c-title1{
		p{
			margin-left: -6px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-top2{
	margin-bottom: 92px;
}

/*
------------------------------------------------------------*/
.p-top3{
	margin-top: -1px;
	padding-bottom: 44px;

	//-------------------------------------------------------
	.c-title1{
		margin-bottom: 46px;
	}
}

/*
------------------------------------------------------------*/
.c-top3{

	//-------------------------------------------------------
	&__img1{
		margin-bottom: 47px;
		&:last-child {
			margin-top: 50px;
		}
	}
}

/*
------------------------------------------------------------*/
.p-top4{
	margin-bottom: 70px;

	//-------------------------------------------------------
	.c-title1{
		margin-bottom: 42px;
	}
}

/*
------------------------------------------------------------*/
.c-top4{

	//-------------------------------------------------------
	.c-list3{
		&:first-child {
			padding-top: 31px;
		}
	}
}