/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1{
	width: 74px;
	background: #f78d6c;
	text-align: center;
	padding: 4px 0;
	img{
		vertical-align: middle;
	}
	&--bg2{
		background: #51c571;
	}
	&--bg3{
		background: #68b4ce;
	}
}

/*
------------------------------------------------------------*/
.c-btn2{
	text-align: center;
	display: inline-block;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	a{
		font-weight: bold;
		font-size: 1.5rem;
		text-decoration: none;
		color:#fff;
		background: #888888;
		padding-top: 9px;
	    padding-bottom: 8px;
	    display: inline-block;
	    width: 160px;
	}
}