/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1{
	text-align: center;
	margin-bottom: 48px;

	//-------------------------------------------------------
	p{
		font-size: 2.4rem;
		font-weight: bold;
	}

	//-------------------------------------------------------
	span{
		font-size: 2rem;
		color:#999;
		font-family: Times New Roman;
		display: inline-block;
		margin-top: -2px;
	}

	//-------------------------------------------------------
	&--sty2{
		span{
			margin-top: 3px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title2{
	text-align: center;
	margin-bottom: 44px;

	//-------------------------------------------------------
	p{
		font-size: 3.2rem;
		font-weight: normal;
	}

	//-------------------------------------------------------
	span{
		font-size: 1.6rem;
		color: #999;
		margin-top: -5px;
		font-weight: bold;
		display: block;
	}

	//-------------------------------------------------------
	&--fz2{
		span{
			font-size: 2rem;
			font-family: Times New Roman;
			font-weight: normal;
		}
	}
}

