/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-nav{

	//-------------------------------------------------------
	ul{
		display: flex;
	}

	//-------------------------------------------------------
	li{

		&:first-child {
				margin-right: 24px;
		}

		&:nth-child(2) {
			margin-right: 28px;
		}

		&:nth-child(3) {
			margin-right: 28px;
		}

		&:nth-child(4) {
			margin-right: 30px;
		}

		&:nth-child(5) {
			margin-right: 29px
		}

		&:nth-child(6) {
			margin-right: 29px;
		}
		
		&:nth-child(7) {
			margin-right: 30px;
		}
	}
}