/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1{

	//-------------------------------------------------------
	ul{
		padding-top: 2px
	}

	//-------------------------------------------------------
	li{
		display: flex;
		border-top: 1px dotted #dddddd;
		align-items: center;
		padding-left: 2px;
		padding-top: 9px;
		padding-bottom: 9px;

		&:nth-child(3) {
			padding-top: 11px;
			padding-bottom: 8px;
		}

		&:last-child {
			padding-top: 7px;
			border-bottom: 1px dotted #dddddd;
		}
	}

	//-------------------------------------------------------
	span{
		margin-right: 17px;
		font-size: 1.4rem;
		font-family: Arial;
	}

	//-------------------------------------------------------
	&__img{
		margin-left: 28px;
	}
}

/*
------------------------------------------------------------*/
.c-list2{
	$root:&;
	display: flex;
	justify-content: space-between;

	//-------------------------------------------------------
	&__card{
		width: 370px;
		&:first-child {

			//-----------------------------------------------
			#{$root}__info{
				margin-left: 2px;
			}
		}
		&:nth-child(2) {

			//-----------------------------------------------
			#{$root}__info{
				margin-left: -1px;
			}
		}
	}

	//-------------------------------------------------------
	&__info{
		margin-top: 10px;

		//---------------------------------------------------
		h6{
			font-size: 1.6rem;
		}

		//---------------------------------------------------
		p{
			font-size: 1.3rem;
			//margin-top: 4px;
		}
	}

	//-------------------------------------------------------
	&__img1{
		position: relative;
	}

	//-------------------------------------------------------
	&__abs{
		position: absolute;
		top: 8px;
		left: 8px;
	}

	//-------------------------------------------------------
	&--con2{
		margin-left: 1px;
		margin-right: 3px;

		//---------------------------------------------------
		#{$root}__card:first-child{
			#{$root}__abs{
				left: 6px;
			}
		}
	}
}


/*
------------------------------------------------------------*/
.c-list3{
	border-top: 1px solid #939393;
	padding: 30px 0;
	display: flex;
	position: relative;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

	//-------------------------------------------------------
	&:after {
		content: "";
		display: block;
		width: 22px;
		height: 23px;
		background: url('../image/top/top-10.png');
		position: absolute;
		top: 46%;
		right: 46px;
	}

	//-------------------------------------------------------
	&__img1{
		width: 370px;
	}

	//-------------------------------------------------------
	&__text{
		margin-top: -2px;
		margin-left: 26px;
		font-size: 1.6rem;
	}

	//-------------------------------------------------------
	&__txt1{
		font-size: 1.3rem;
		color:#888888;
		span{
			font-size: 1.1rem;
			background: #bd0000;
			color: #fff;
			font-family: Arial;
			text-transform: uppercase;
			padding: 3px 15px;
		}

		//---------------------------------------------------
		.c-left{
				margin-left: 47px;
		}
	}

	//-------------------------------------------------------
	h6{
		font-size: 1.8rem;
		margin-top: 5px;
		margin-bottom: 14px;
		font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	}

	//-------------------------------------------------------
	&--af2{

		&:after {
			top:48%;
		}
	}
}