/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.slick-dots{
	text-align: center;
	margin-top: 10px;
	li{
		display: inline-flex;
		margin: 0 7px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		&.slick-active{
			border: 1px solid #22963c;
		}
	}
	button{
		color: transparent;
		border-radius: 50%;
		background: #22963c;
		outline:none;
		width: 8px;
		height: 8px;
		padding: 0;
		border: none;
	}
}

/*
------------------------------------------------------------*/
.c-tag{
	display: inline-block;
	background: #1d2088;
	padding: 3px 4px;

	//-------------------------------------------------------
	p{
		font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
		font-size: 1.6rem;
		color: #fff;
		border: 1px solid #fff;
		padding-left: 17px;
		padding-right: 16px;
		padding-top: 2px;
		padding-bottom: 1px;
		line-height: 1;
	}

	//-------------------------------------------------------
	&--ta2{
		width: 145px;
		text-align: center;
		p{
			padding-left: unset;
			padding-right: unset;

		}
	}

	//-------------------------------------------------------
	&--ta3{
		width: 180px;
		text-align: center;
		p{
			padding-left: unset;
			padding-right: unset;

		}
	}
}

/*
------------------------------------------------------------*/
.c-blankpic{
	width: 1160px;
	height: 370px;
	background: #e5e5e5;
	margin: 0 auto;
	position: relative;

	//-------------------------------------------------------
	&__abs{
		position: absolute;
		top:31px;
		left: 31px;
	}

	//-------------------------------------------------------
	&--heg2{
		height: 760px;
	}

	//-------------------------------------------------------
	&--heg3{
		width: 560px;
	}
}

/*
------------------------------------------------------------*/
.c-afspan{
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	&:after {
		content: "";
		width: 14px;
		height: 15px;
		display: inline-block;
		background: url('../image/about/ab-02.png');
		margin-left: 4px;
	}
}

/*
------------------------------------------------------------*/
.c-foot{
	position: relative;

	//-------------------------------------------------------
	&__img2{
		position: absolute;
		top: 0;
		right: 1px;
	}
}